<div
  class="bg-white mt-10 mb-0 ml-5 mr-5 dark:bg-[#04060b] text-black dark:text-white transition-colors duration-200 min-h-[500px] flex flex-col items-center sm:justify-around sm:flex-row"
>
  <!-- Floating animation added here -->
  <img
    class="min-h-[200px] sm:min-h-[400px] animate-float"
    src="./assets/logo-triangle.png"
    alt="hero logo"
  />

  <div class="flex flex-col items-center text-center">
    <h1 class="text-3xl sm:text-5xl font-bold pb-2 mt-0 sm:py-3">
      Welcome to
      <span class="text-[#70E4AA] font-extrabold">Innovation Studio</span>
    </h1>
    <p class="text-lg sm:text-xl mb-6 sm:mb-6">
      🚀 We Build Digital Experiences That Sell, Scale, and Stay in People’s
      Minds
    </p>
    <button
      class="text-white mb-6 sm:mb-0 font-semibold sm:px-16 px-10 py-3 text-lg rounded-2xl  transform transition hover:scale-105 bg-[linear-gradient(90deg,#70E4AA_0%,#04060b_50%,#70E4AA_100%)] dark:bg-[linear-gradient(90deg,#04060b_0%,#70E4AA_80%,#04060b_100%)] bg-[length:200%_200%] animate-gradient"
      aria-label="Get Started"
    >
      Get Started
    </button>
  </div>
</div>
